// @import '../../styles/contants.scss';

$sm :640px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #0D2F3F;
$secondary: #286F6C;
$secondary-white: #E7E7E7;

.wrapper {
    overflow: hidden;


    .container {
        position: relative;
        z-index: 1;

        .upperElements {
            @media (max-width: $sm) {
                justify-content: center;
                text-align: center;
                gap: 2rem;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }


        .lowerElements {
            @media (max-width: $sm), (max-width: $md) {
                margin-top: 4rem;
                gap: 2rem;
                justify-content: center;
            }
            margin-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .experience {
                display: flex;
                align-items: center;
                gap: 1rem;
                >:nth-child(2) {
                    line-height: 25px;
                }
            }

            .certificate {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin-bottom: 1rem;
                    width: 3.5rem;
                }
            }
        }

        .person {
            @media (max-width: $sm ), (max-width: $md) {
                position: relative;
                left: 0;
                background-size: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: bottom;
            }
            position: absolute;
            bottom: -2rem;
            margin: auto;
            background-image: url("../splash.png");
            background-repeat: no-repeat;
            background-size: 23rem;
            left: 33%;

            img {
                @media (max-width: $sm ) {
                    width: 23rem;
                }
                margin-bottom: -5px;
            }
        }

        .email {
            @media (max-width: $sm ) {
                position: relative;
                display: none;
            }
            position: absolute;
            top: 50%;
            left: 0;
            color: orange;
        }
    }
}


// hero davomi


// @import './contants.scss';

.bg-primary {
  background: #F8F7F1;
}

.innerWidth {
  @media (min-width: $xxl) {
    max-width: 1280px;
    margin: auto;
  }

  width: 100%;
}

.paddings {
  @media (min-width: $sm) {
    padding: 4rem;
  }


  @media (min-width: $xl),
  (min-width: $md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}



.xPaddings {
  @media (min-width: $sm) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  padding-left: 1.5rem;
  /* 24px */
  padding-right: 1.5rem;
  /* 24px */
}

.yPaddings {
  @media (min-width: $sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.topPaddings {
  @media (min-width : $sm) {
    padding-top: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem;
  }

  padding-top: 3rem;
}


.bottomPaddings {
  @media (min-width : $sm) {
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-bottom: 2rem;
  }

  padding-bottom: 3rem;
}


.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-items: end;
}

.primaryText {
  @media (max-width: $sm) {
    font-size: 2.5rem;
  }
  font-size: 3rem;
  font-weight: bold;
}

.secondaryText {
  @media (max-width: $sm) {
    font-size: 1.1rem;
    line-height: 40px;
  }
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: 500
}
.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}