.wrapper {
  overflow: hidden;
}
.wrapper .container {
  position: relative;
  z-index: 1;
}
.wrapper .container .upperElements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .wrapper .container .upperElements {
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }
}
.wrapper .container .lowerElements {
  margin-top: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 640px), (max-width: 768px) {
  .wrapper .container .lowerElements {
    margin-top: 4rem;
    gap: 2rem;
    justify-content: center;
  }
}
.wrapper .container .lowerElements .experience {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapper .container .lowerElements .experience > :nth-child(2) {
  line-height: 25px;
}
.wrapper .container .lowerElements .certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .container .lowerElements .certificate img {
  margin-bottom: 1rem;
  width: 3.5rem;
}
.wrapper .container .person {
  position: absolute;
  bottom: -2rem;
  margin: auto;
  background-image: url("../splash.png");
  background-repeat: no-repeat;
  background-size: 23rem;
  left: 33%;
}
@media (max-width: 640px), (max-width: 768px) {
  .wrapper .container .person {
    position: relative;
    left: 0;
    background-size: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: bottom;
  }
}
.wrapper .container .person img {
  margin-bottom: -5px;
}
@media (max-width: 640px) {
  .wrapper .container .person img {
    width: 23rem;
  }
}
.wrapper .container .email {
  position: absolute;
  top: 50%;
  left: 0;
  color: orange;
}
@media (max-width: 640px) {
  .wrapper .container .email {
    position: relative;
    display: none;
  }
}

.bg-primary {
  background: #F8F7F1;
}

.innerWidth {
  width: 100%;
}
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

.paddings {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}
@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.xPaddings {
  padding-left: 1.5rem;
  /* 24px */
  padding-right: 1.5rem;
  /* 24px */
}
@media (min-width: 640px) {
  .xPaddings {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.yPaddings {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 640px) {
  .yPaddings {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .yPaddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.topPaddings {
  padding-top: 3rem;
}
@media (min-width: 640px) {
  .topPaddings {
    padding-top: 4rem;
  }
}
@media (min-width: 1280px) {
  .topPaddings {
    padding-top: 2rem;
  }
}

.bottomPaddings {
  padding-bottom: 3rem;
}
@media (min-width: 640px) {
  .bottomPaddings {
    padding-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .bottomPaddings {
    padding-bottom: 2rem;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-items: end;
}

.primaryText {
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 640px) {
  .primaryText {
    font-size: 2.5rem;
  }
}

.secondaryText {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: 500;
}
@media (max-width: 640px) {
  .secondaryText {
    font-size: 1.1rem;
    line-height: 40px;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}